#lokasi database
spring.datasource.url=jdbc:postgresql://localhost:5432/athens

spring.datasource.username=username_postgresql
spring.datasource.password=password_postgresql

spring.datasource.driverClassName=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=create-drop